body{
    background-image: url("/asset/img/back2.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    font-family: 'Ubuntu', sans-serif;
}

button{
    font-family: 'Ubuntu Condensed', sans-serif;
    transition: all 0.5s ease;
}

#firstTimeBtn:hover{
    transform: scale(1.1);
}

.form{
    background-color: rgba(0, 0, 0, 0.14);
    outline: none;

}



#registerForm{
    background-color: rgba(0, 0, 0, 0.08);
}





@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  
.spinner {
    border: 0.4rem solid #f3f3f3; /* Light grey border */
    border-top: 0.4rem solid rgb(71, 71, 255); /* Blue border for the spinner top */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
    
}
#spinnerContainer{
    opacity: 0;
    transition: opacity 0.5s ease;
}


@keyframes scrollBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100%;
    }
}
  
.scrolling-background {
    background-repeat: repeat-y;
    animation: scrollBackground 80s linear infinite;
}
  


#responseContainer {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;

}











/*body{
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    max-width: 100%;
    background: #0B1116;
    overflow-x: hidden;
}


@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}



.spinner {
    border: 0.4rem solid #f3f3f3; 
    border-top: 0.4rem solid rgb(71, 71, 255); 
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
    
}

#spinnerContainer{
    opacity: 0;
    transition: opacity 0.5s ease;
}





main{
    padding-top: 1%;
    padding-left: 30%;
    padding-right: 30%;

}
.container{
    width: 37.5rem;
    max-width: 600px;
    background-color: #2F3C4C;
    border-radius: 15%;
    display: block;
}

.container .logo{
    width: 180px;
    height: 180px;
    max-width: 180px;
    max-height: 180px;
    margin: auto;
}
.logo img{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    padding: 10% 20%;
    padding-top: 0;
}
.NameBlock{
    font-size: 2.5rem;
    color: #ffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-bottom: 1.3rem;
}
.inputData{
    font-size: 1.2rem;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: medium;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: #2F3C4C;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

form button{
    margin-top: 3rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    background-color: #708AA7;
    transition: all 300ms;
}
form button:hover{
    background-color: #2F3C4C;
}

.LinkReg{
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    background-color: #708AA7;
    transition: all 300ms;
    text-decoration: none;
}

.LinkBackBlock{
    display: flex;
}

.LinkBack{
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    background-color: #708AA7;
    transition: all 300ms;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 40%;             
}


.LinkReg, .LinkBack:hover{
    background-color: #2F3C4C;
}

.LinkBack{
    
}

#responseContainer {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;

}

*/